<h1> Backbone.Marionette <%- tag %> Documentation.</h1>
<p> Please use the links in the sidebar or below to find what you are looking for. </p>
<h2> Table of Contents </h2>
<ul class="index-nav">
  <% files.forEach(function(file) { %>
    <li>
      <a href="/docs/<%- tag + '/' + file.basename %>.html"><%- file.title %></a>
    </li>
  <% }); %>
</ul>
