section.column-contain
  h2.section-header Changelog
  .content.updates
    .changelog
      .changelog-error.hidden Could not retrieve data.
    .slider.closed
      .part-two
    div.text-center
      a(href="#", class="show-more") more