include ../../sections/_nav
.masthead
  .wrapper
    .left
      //- we inline svg by using data:image
      //- keep clean markup in development by includes
      include ../../partials/_marionette_logo
      include ../../partials/_marionette_text
    .right
      h1 Latest updates
      p Check here new version and recent changes to the code.
    .cl
