.primary-logo {
  width:    177px;
  margin:   40px auto 3px;
  display:  block;
}

.logo-text {
  display: block;
  margin: 0 auto;
}

.masthead {
  padding:    0 $center_pad;
  overflow:   hidden;
  text-align: center;
  background: $light-blue;
  border-bottom: 1px solid darken($light-blue, 15%);

  @include below($med-breakpoint) {
    padding-bottom: 25px;
    padding-top: 10px;
  }

  @include below($sm-breakpoint) {
    padding-bottom: 10px;
  }

  .wrapper {
    margin: auto;
    padding: 60px;
    max-width: 1200px;
    overflow: hidden;

    .secondary-color {
      min-width: 154px;
    }

    @include below($med-breakpoint) {
      padding: 10px 0 0 0;
    }

    .left {
      width: 30%;

      @include below($med-breakpoint) {
        width: 100%;
      }
    }

    .right {
      text-align: left;
      width: 70%;
      padding: 40px {
        right: 20px;
      }

      @include below($med-breakpoint) {
        width: 100%;
        padding: 0;
        text-align: center;
      }

      h1, p {
        text-align: left;
        color: $dark-gray;
        display: inline-block;
      }
      h1 {
        font-weight: bold;
        margin-top: 30px;
        font-size: $xlarge-font;
      }
      p {
        margin-top: 10px;
        margin-bottom: 15px;
        font-size: $large-font;
      }

      @include below($med-breakpoint) {
        width: 100%;
        padding: 0;
        text-align: center;

        h1, p {
          text-align: center;
        }

        h1 {
          margin-top: 30px;
        }
      }
    }
  }
}


.global-nav {
  background: $red;
  min-height: 40px;
  position:fixed;
  top:0;
  width: 100%;
  //has to be under opened gitter chat
  z-index: 99;

  &.search-expanded {
    .logo {
      @include below($large-breakpoint) {
        display: none;
      }
    }

    .searchbar {
      display: inline-block;
      width: calc(100% - 150px);

      @include below($large-breakpoint) {
        width: 100%;
      }
    }
  }

  &__section {
    padding: 0;
    border: none;

    .menu-icon {
      cursor: pointer;
      display: none;

      @include below($med-breakpoint) {
        color: #fff;
        line-height: inherit;
        background: transparent {
          image: none;
        }
        border: 0 solid transparent;
        position: relative;
        float: right;
        display: block;
        padding: 8px 15px 7px 10px;

        &:hover {
          opacity: 0.8;
        }

        &.hidden {
          display: none;
        }
      }
    }

    a, .left {
      color: white;
      text-decoration: none;
      line-height: 40px;
      height: 40px;

      &:hover {
        color: white;
        cursor: pointer;
      }
    }

    /* Pure CSS slide up & down: http://davidwalsh.name/css-slide */
    .nav-slider.closed {
      @include below($med-breakpoint) {
        max-height: 0;
      }
    }

    .nav-slider {
      float: right;

      &__list {
        float: left;
        > li {
          position: relative;
          display: block;

          &.toggle-search {
            @include below($med-breakpoint) {
              display: none;
            }
          }
        }
      }

      @include below($med-breakpoint) {
        background-color: $red;
        float: none;
        clear: both;

        overflow-y: hidden;
        max-height: 286px;

        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

        &__list {
          float: none;
        }
      }
    }

    li {
      font-size: 14px;

      .middot {
        font-weight: bold;
        color: white;
        display: inline-block;
        padding: 0 14px;
        cursor: default;

        @include below($med-breakpoint) {
          display: none;
        }
      }

      a:hover {
        text-decoration: underline;
      }

      @include below($med-breakpoint) {
        float: none;
        text-align: center;
        border-top: 1px dashed lighten($red, 15%);
        box-sizing: content-box;
        font-size: $mid-font;

        a {
          display: block;
          width: 100%;

          &:hover {
            text-decoration: none;
          }
        }

        .twitter, .github-mark {
          margin-top: 0;
          height: 40px;
        }

        &:hover {
          background-color: lighten($red, 10%);
        }
      }
    }

    .twitter, .github-mark, .toggle-search-open, .toggle-search-close {
      &:hover {
        opacity: 0.8;
      }
    }

    @include below($med-breakpoint) {
      width: 100%;

      .logo {
        margin-left: 20px;
      }
    }
  }
}
