include ../../sections/_nav
.masthead
  .wrapper
    .left
      //- we inline svg by using data:image
      //- keep clean markup in development by includes
      include ../../partials/_marionette_logo
      include ../../partials/_marionette_text
    .right
      h1(itemprop="alternativeHeadline") Download Information
      br
      p(itemprop="description") Packages and Requirements
    .cl