include ../../sections/_nav
.masthead
  .wrapper
    .left
      //- we inline svg by using data:image
      //- keep clean markup in development by includes
      include ../../partials/_marionette_logo
      include ../../partials/_marionette_text
    .right
      h1(itemprop="alternativeHeadline") Download Options
      br
      p(itemprop="description") Get Marionette just the way you want it. We officially distribute via npm, bower, and static builds via our site.
    .cl
