section.column-contain.hidden-xs#more-information
  h2.section-header Static Builds
  div
    .download-group
      h3 Pre-Packaged
      p These archives contain all of the files you need to get started with Marionette, including Backbone, jQuery and all other prerequisites.
      p These packages include the standard UMD version of both the non-minified and minified versions of Marionette.
      h4.h3 *nix (.tar.gz)
      p
        a.notranslate(href='/downloads/backbone.marionette.tar.gz') backbone.marionette.tar.gz

      h4.h3 Windows (.zip)
      p
        a.notranslate(href='/downloads/backbone.marionette.zip') backbone.marionette.zip
    .download-group
      h3 Library (UMD)
      p
        a.notranslate(href='https://github.com/marionettejs/backbone.radio') Backbone.Radio is required for Marionette.
      .gw
        ul.g
          li
            a.notranslate(href='/downloads/backbone.marionette.js') backbone.marionette.js
          li
            a.notranslate(href='/downloads/backbone.marionette.min.js') backbone.marionette.min.js
  .cl
.cl
