section.column-contain.hidden-xs#more-information
  h2.section-header Static Builds
  .cl

  .download-group
    h3 Pre-Packaged
    p These archives contain all of the files you need to get started with Marionette, including Backbone, jQuery and all other prerequisites.
    p These packages include the standard UMD version of both the non-minified and minified versions of Marionette.
    h4.h3 *nix (.tar.gz)
    p
      a.notranslate(href='/downloads/backbone.marionette.tar.gz') backbone.marionette.tar.gz

    h4.h3 Windows (.zip)
    p
      a.notranslate(href='/downloads/backbone.marionette.zip') backbone.marionette.zip
  .download-group
    h3 Bundled (UMD)
    p Download the bundled backbone.marionette.js file with the Backbone.Wreqr and Backbone.BabySitter prerequisites built in.
    .gw
      ul.g
        li
          a.notranslate(href='/downloads/backbone.marionette.js') backbone.marionette.js
        li
          a.notranslate(href='/downloads/backbone.marionette.min.js') backbone.marionette.min.js
  .download-group
    h3 Core
    p Download the core backbone.marionette.js file, without Backbone.BabySitter or Backbone.Wreqr.
    p These pre-requisites are still required for Marionette to run, but this allows you to download them separately and update them independently.
    h4.h3 Standard .js (UMD)
    .gw
      ul.g
        li
          a.notranslate(href= '/downloads/core/backbone.marionette.js') backbone.marionette.js
        li
          a.notranslate(href= '/downloads/core/backbone.marionette.min.js') backbone.marionette.min.js
  .cl
.cl
