include ../../sections/_nav
.masthead
  .wrapper
    .left
      //- we inline svg by using data:image
      //- keep clean markup in development by includes
      include ../../partials/_marionette_logo
      include ../../partials/_marionette_text
    .right
      h1(itemprop="alternativeHeadline") Additional Marionette Resources
      p(itemprop="description") Marionette is now easier to learn than ever
    .cl
