link(rel="import", href="src/demo/github-card/github-card.html")

script(src="js/demo.js")


section.column-contain.hidden-xs#demo
  .section-header
    h2.left Marionette in Action

  div#cards
  .cl