.code-samples {
  .code-samples {
    overflow: hidden;
    border-right: 1px #2c3e50 solid;
    background-color: #34495E;
    border-radius: 5px;
  }
  .code-sample-block {
    float: left;
    width: 33%;
    color: #818285;
    height: 280px;
    border-right: 2px solid darken(#304357, 6%);
    background-color: darken(#304357, 5%);
    code {
      white-space: pre-wrap;
    }
    @include below($large-breakpoint) {
      width: 100%;
    }
  }
  .code-results-block {
    background-color: lighten($light-grey, 4%);
    border-right: none;
    border-radius: 0 5px 5px 0;
  }
  .code-header {
    background-color: #304357;
    color: #dbe4ea;
    font-size: $mid-font;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
    line-height: 70px;
    border-radius: 5px 5px 0 0;
  }
  .code-header-results {
    color: darken($light-grey, 30%);
    background-color: $light-grey;
    position: relative;
    text-align: center;
    border-radius: 0 5px 5px 0;
  }
  .first-sample-block {
    border-radius: 5px 0 0 5px;
  }

  .result {
    padding: 30px;
  }

  a {
    color: $seafoam;
    display: block;
    padding-bottom: 20px;
    font-size: $mid-font;
  }
}
