.middot {
  font-weight: bold;
  padding: 0 6px;
}

.code-wrap {
  border:         solid 1px rgba(235, 235, 235, 0.71);
  display:        inline-block;
  padding:        5px 12px;
  background: rgb(252, 252, 252);
  margin-bottom: 20px;

  font: {
    size:   15px;
    family: monospace;
  }

  border-radius: 10px;
}

.download-group {
  float: left;
  width: 33.33%;
  @include below($med-breakpoint) {
    width: 100%;
    border-bottom: 1px solid darken($light-blue, 4%);
    padding: 30px 0;
  }

  li {
    margin-bottom: 20px;
  }

  p {
    width:     85%;
    font-size: $mid-font;
    margin-bottom: 20px;
  }

  a {
    font-size: $mid-font;
  }

  &:nth-child(4) {
    @include below($med-breakpoint) {
      border: none;
    }
  }
}

small {
  font-size: 80%;
}
