.primary-logo {
  width:    177px;
  margin:   40px auto;
  display:  block;

  @include below(460px) {
    margin: 80px auto 30px;
  }
}

.download-button {
  width: 200px;
  text-align: center;

  &.btn {
    margin-top: 30px;
    display: inline-block;

    @include below($med-breakpoint) {
      margin-top: 10px;
      text-align: center;
    }

    @include below($sm-breakpoint) {
      display: none;
    }
  }

  &.view-docs {
    width: 140px;
    margin-left: 25px;
    &.btn {
      background: #29C8A4;
      &:hover {
        background-color: darken(#29C8A4, 5%)
      }
    }
  }
}

.star-button {
  margin-bottom: -11px;
}

.twitter-follow-button, .gitter-button {
  margin: 0 2rem;
}

.gitter-button {
  margin-top: 5px;
  img {
    height: 19px;
  }
}

.masthead {
  padding:    0 $center_pad 40px;
  overflow:   hidden;
  text-align: center;
  background: $light-blue;
  border-bottom: 1px solid darken($light-blue, 15%);

  .wrapper {
    width: 70%;
    margin: auto;
    padding: 60px;

    @include below($med-breakpoint) {
      padding: 30px 0 0;
    }

    .left {
      width: 30%;

      @include below(1184px) {
        width: 20%;
      }

      @include below($med-breakpoint) {
        width: 100%;
      }
    }

    .right {
      text-align: left;
      h1, h2 {
        text-align: left;
        color: $dark-gray;
        display: inline-block;
      }
      h1 {
        font-weight: bold;
        margin-top: 20px;
        font-size: $xlarge-font;
      }
      h2 {
        margin-top: 10px;
        font-size: $large-font;
      }
      width: 60%;
      padding: 40px;

      @include below(1184px) {
        width: 50%;
      }

      @include below($med-breakpoint) {
        width: 100%;
        padding: 0;
        text-align: center;
      }
    }
  }
}


.global-nav {
  background: $red;
  height: 40px;
  position:fixed;
  top:0;
  width: 100%;
  z-index: 999;

  section {
    padding: 0;
    border: none;
    a, .left {
      color: white;
      text-decoration: none;
      line-height: 40px;

      &:hover {
        cursor: pointer;
      }
    }

    li {
      font-size: 14px;

      .middot {
        font-weight: bold;
        color: white;
        padding: 0 14px;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  @include below(460px) {
    height: 80px;
  }
}
