.primary-logo {
  width:    177px;
  margin:   40px auto;
  display:  block;
}

.download-button {
  width: 200px;
  text-align: center;

  &.btn {
    margin-top: 30px;
    display: inline-block;

    @include below($med-breakpoint) {
      margin-top: 10px;
      text-align: center;
    }

    @include below($sm-breakpoint) {
      display: none;
    }
  }

  &.view-docs {
    width: 140px;
    margin-left: 25px;
    &.btn {
      background: #29C8A4;
      &:hover {
        background-color: darken(#29C8A4, 5%)
      }
    }
  }
}

.masthead {
  padding:    0 $center_pad 40px;
  overflow:   hidden;
  text-align: center;
  background: $light-blue;
  border-bottom: 1px solid darken($light-blue, 15%);

  .wrapper {
    margin: auto;
    padding: 60px;
    max-width: 1200px;

    .left {
      width: 30%;

      @include below($med-breakpoint) {
        width: 100%;
      }
    }

    .right {
      text-align: left;
      width: 70%;
      padding: 40px {
        right: 20px;
      }

      @include below($med-breakpoint) {
        width: 100%;
        padding: 0;
        text-align: center;
      }

      h1, h2 {
        text-align: left;
        color: $dark-gray;
        display: inline-block;
      }
      h1 {
        font-weight: bold;
        margin-top: 20px;
        font-size: $xlarge-font;
      }
      h2 {
        margin-top: 10px;
        font-size: $large-font;
      }
    }
  }
}


.global-nav {
  background: $red;
  height: 40px;
  position:fixed;
  top:0;
  width: 100%;
  z-index: 999;

  section {
    padding: 0;
    border: none;

    .menu-icon {
      display: none;

      @include below(660px) {
        color: #fff;
        display: block;
        float: right;
        margin: 7px 20px 3px 0;

        &:hover {
          opacity: 0.8;
        }
      }
    }

    a, .left {
      color: white;
      text-decoration: none;
      line-height: 40px;

      &:hover {
        cursor: pointer;
      }
    }

    /* Pure CSS slide up & down: http://davidwalsh.name/css-slide */
    .nav-slider.closed {
      @include below(660px) {
        max-height: 0;
      }
    }

    .nav-slider {
      @include below(660px) {
        background-color: $red;
        float: none;
        clear: both;

        overflow-y: hidden;
        max-height: 286px;

        transition-property: all;
        transition-duration: .5s;
        transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
        -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
      }
    }

    li {
      font-size: 14px;

      .middot {
        font-weight: bold;
        color: white;
        display: inline-block;
        padding: 0 14px;
        
        @include below(660px) {
          display: none;
        }
      }

      a:hover {
        text-decoration: underline;
      }

      @include below(660px) {
        float: none;
        text-align: center;
        border-top: 1px dashed lighten($red, 15%);
        font-size: $mid-font;

        a {
          display: block;
          width: 100%;

          &:hover {
            text-decoration: none;
          }
        }

        .twitter, .github-mark {
          margin-top: 0;
          height: 40px;
        }

        .github-mark svg {
          margin-top: 10px;
        }

        &:hover {
          background-color: lighten($red, 10%);
        }
      }
    }

    .twitter, .github-mark {
      &:hover {
        opacity: 0.8;
      }
    }

    .github-mark svg {
      margin-top: 11px;
    }

    @include below(660px) {
      width: 100%;

      .logo {
        display: none;
      }
    }
  }
}
