$screencast-adaptive-snap: 777px;

.screencasts {
  .description {
    display:        block;
    max-width:      740px;
    font-size:      15px;
    padding-bottom: 30px;

    span {
      display: block;
      margin-top: 10px;
      font-style: italic;
    }
  }

  .link {
    font-size: 19px;
  }

  .copy {
    width:   60%;
    display: inline-block;

    @include below($screencast-adaptive-snap) {
      width: 90%;
      float: left;
    }

    p {
      margin-top: 10px;
    }
  }

  li {
    overflow:   hidden;
    font-size:  0;
    border-bottom: solid 1px $light-grey;
    padding: 30px 0;

    &:last-child {
      border-bottom: solid 0px transparent;
    }
  }
}

.screencast-thumb {
  width:        30%;
  margin-right:  10%;
  box-shadow: 2px 2px 2px lighten($gray, 35%);

  @include below($screencast-adaptive-snap) {
    display: none;
  }
}
