.social-links {
  text-align: center;
  padding-top: 30px;

  a {
    display: inline-block;
    vertical-align: top;

    &.social {
      display: inline-block;
      font-family: FontAwesome;
      font-weight: normal;
      font-style: normal;
      text-decoration: inherit;

      &:hover span {
        color: darken($aqua, 15%);
      }

      span {
        color: $aqua;
        background: white;
        border-radius: 36px;
        bottom: 1px;
        font-size: 13px;
        margin-left: 10px;
        padding: 1px 4px;
        position: relative;
      }
    }

    &.social::before {
      padding-right: 10px;
    }

    &.github::before {
      content: "\f09b";
    }

    &.twitter::before {
      content: "\f099";
    }

    @include below(460px) {
      margin-bottom: 12px;
      width: 41%;
    }
  }
}
