.stickers {
  @include below(700px) { display: none; }
}

.sticker-pics {
  width:      65%;
  text-align: center;

  .stickers {
    margin-right: 30px;
  }
}

.sticker-order {
  width: 30%;

  p {
    font-size: $mid-font;
    padding-bottom: 10px;
  }
}