a {
  color: #378dbe;

  &:hover {
    color: #106287;
    text-decoration: none;
  }
}

a.btn {
  color:            #fff;
  height:           $button-size;
  display:          inline-block;
  background:       $seafoam;
  line-height:      $button-size;
  text-decoration:  none;

  font: {
    size:   16px;
    weight: bold;
    family: $sans;
  }

  &:hover {
    background: darken($seafoam, 5%);
  }

  border-radius: $button-size;

  &.btn-issues {
    padding: 0 20px;
    background-color: $light-grey;
    color: #555;
    &:hover {
      background: darken($light-grey, 3%);
    }
  }
}

.section-header {
  margin-bottom: $center_pad;
}

.headline {
  color:        $gray;
  margin:       0;
  text-align:   center;
  line-height:  26px;

  font: {
    size:   $large-font;
    weight: bold;
  }
}
