a {
  color: #378dbe;

  &:hover {
    color: #106287;
    text-decoration: none;
  }
}

a.btn {
  color:            white;
  height:           $button-size;
  display:          inline-block;
  background:       $blue;
  line-height:      $button-size;
  text-decoration:  none;

  font: {
    size:   16px;
    weight: bold;
    family: $sans;
  }

  &:hover {
    background: darken($blue, 15%);
  }

  border-radius: $button-size;

  &.btn-action, &.social {
    padding: 0 20px;
    background-color: $aqua;
    color: white;
    &:hover {
      background: darken($aqua, 15%);
    }
  }

  &.social {
    height: 28px;
    line-height: 29px;
    padding: 0 10px;
  }
}

.section-header {
  margin-bottom: $center_pad;
}

.headline {
  color:        $gray;
  margin:       0;
  text-align:   center;
  line-height:  26px;

  font: {
    size:   $large-font;
    weight: bold;
  }
}
