$sans: 'Questrial', sans-serif;

$red: #cf2227;
$aqua: #378dbe;
$dark-aqua: #106287;
$blue: #5da3cb;
$med-blue: #b7d9e9;
$light-blue: #EDF3F6;
$dark-gray: #555;
$gray: #818285;
$med-gray: #BCBDC0;
$light-grey: #ECECEC;
$seafoam: #1abc9c;
$mint: #29C8A4;
$center_mw: 1200px;
$center_pad: 25px;

$large-breakpoint: 1024px;
$adaptive-snap: 777px;
$med-breakpoint: 768px;
$sm-breakpoint: 520px;

$button-size: 36px;
$small-font: 12px;
$mid-font: 16px;
$large-font: 20px;
$xlarge-font: 30px;

$col-1-3: 33%;
$col-2-3: 66%;
