@import "reset";

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font: normal Georgia, Times, "Times New Roman", serif;
  -webkit-font-smoothing: antialiased;
  color: #56585E;
}

h1, h2, h3, h4, h5, h6 {
  color: #cf2227;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  margin: 1.6em 0 0.6em;

  .anchor {
    background: #f1f1f1;
    border: 10px solid white;
    border-radius: 20px;
    color: #ccc;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 20px;
    margin-left: -40px;
    outline: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 40px;

    &::before {
      content: "\25B8";
    }
  }
}

h1 {
  font-size: 1.6em;
  margin-top: 0.6em;
}

strong {
  font-weight: bold;
}

a {
  color: #00a6fc;
}

code {
  background: #f1f1f1;
  border-radius: 3px;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  font-size: 0.8em;
  padding: 0 0.2em;
}

p {
  margin: 10px 0 25px;
}

pre {
  background: #f8f8f8;
  border-radius: 6px;
  margin-bottom: 25px;
  overflow: auto;
  padding: 10px;
}

pre code {
  background: none;
  color: inherit;
  line-height: inherit;
}

.docs__sidebar {
  background: #EDF3F6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  left: 0;
  overflow: auto;
  padding: 10px;
  position: fixed;
  width: 300px;

  select {
    font: inherit;
    font-size: 1.2em;
    width: 100%;
  }

  nav {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-top: 10px;
    padding: 10px 0;

    a {
      display: block;
      padding: 5px 10px;
    }
  }

  .primary-logo{
    margin: 20px 30%;
    text-align: center;
    width: 40%;
  }
}

.docs__content {
  background: white;
  line-height: 1.6;
  margin-left: 300px;
  max-width: 950px;
  padding: 20px 40px;
  position: relative;

  ul {
    line-height: 1.8;

    ul { padding: 0 30px; }
  }

  li {
    list-style-type: disc;
    margin-left: 20px;

    li { list-style-type: circle; }
  }

  blockquote {
    border-left: 4px solid #ddd;
    color: #777;
    padding: 0 15px;
  }
}



/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-title {
  color: #8e908c;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #c82829;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #f5871f;
}

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #eab700;
}

/* Tomorrow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #718c00;
}

/* Tomorrow Aqua */
.css .hljs-hexcolor {
  color: #3e999f;
}

/* Tomorrow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #8959a8;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
