@import "reset";

$red : #CF2227;

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  font: normal Georgia, Times, "Times New Roman", serif;
  -webkit-font-smoothing: antialiased;
  color: #56585E;
}

h1, h2, h3, h4, h5, h6 {
  color: $red;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  margin: 1.6em 0 0.6em;

  .anchor {
    background: #f1f1f1;
    border: 10px solid white;
    border-radius: 20px;
    color: #ccc;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 20px;
    margin-left: -40px;
    outline: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 40px;

    &::before {
      content: "\25B8";
    }
  }
}

h1 {
  font-size: 1.6em;
  margin-top: 0.6em;
}

strong {
  font-weight: bold;
}

a {
  color: #4695cb;
}

code {
  background: #f1f1f1;
  border-radius: 3px;
  font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
  font-size: 0.8em;
  padding: 0 0.2em;
}

p {
  margin: 10px 0 25px;
}

pre {
  background: #f8f8f8;
  border-radius: 6px;
  margin-bottom: 25px;
  overflow: auto;
  padding: 10px;
}

pre code {
  background: none;
  color: inherit;
  line-height: inherit;
}

.docs__sidebar {
  background: #EDF3F6;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  width: 220px;

  .styled-select {
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewBox="0 0 640 640"><path fill="#888" d="M495.456 274.016c-13.024 13.376-150.24 144.096-150.24 144.096-6.976 7.136-16.096 10.688-25.216 10.688-9.152 0-18.272-3.552-25.216-10.688 0 0-137.216-130.72-150.272-144.096-13.024-13.376-13.92-37.408 0-51.712 13.952-14.272 33.376-15.392 50.432 0l125.056 119.936 125.024-119.904c17.088-15.392 36.544-14.272 50.432 0 13.952 14.272 13.088 38.336 0 51.68z"></path></svg>');
    background-repeat: no-repeat;
    background-size: auto 14px;
    background-position: right 7px top 50%;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    margin: 0 12%;
    overflow: hidden;
    width: 76%;

    select {
      background: transparent;
      border: 0;
      border-radius: 0;
      color: #888;
      cursor: pointer;
      font: inherit;
      font-size: 0.8em;
      padding: 10px 12px;
      -moz-appearance: window;
      width: 100%;
      // get rid of the focus border in Firefox
      &:-moz-focusring {
          color: transparent;
          text-shadow: 0 0 0 #000;
      }

      -webkit-appearance: none;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

      &:focus {
          outline: none;
      }

      // removes the arrow in IE 10+
      &::-ms-expand {
          display: none;
      }
    }
  }

  nav {
    margin: 27px 0 45px;
    a {
      display: block;
      font-size: 0.8em;
      padding: 0px 26% 15px;

      &:hover, &.is-selected{
        color: $red;
      }
    }
  }

  .top-bar{
    background: $red;
    height: 40px;
    text-align: center;
    a {
      display: inline-block;
      padding: 11px 7px;
      text-decoration: none;

      &:hover{
        .svg-icon {
          fill: #fff;
        }
      }
    }
    .svg-icon {
      fill: rgba(255,255,255,0.75);
    }
  }

  .primary-logo{
    margin: 25px 25%;
    text-align: center;
    width: 50%;
  }
}

.docs__content {
  background: white;
  line-height: 1.6;
  margin-left: 220px;
  max-width: 750px;
  padding: 20px 45px;
  position: relative;

  ul {
    line-height: 1.8;

    ul { padding: 0 30px; }
  }


  blockquote {
    border-left: 4px solid #ddd;
    color: #777;
    padding: 0 15px;
  }
}

.index-nav{
  -webkit-columns: 200px 3;
  -moz-columns: 200px 3;
  columns: 200px 3;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-title {
  color: #8e908c;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #c82829;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #f5871f;
}

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #eab700;
}

/* Tomorrow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #718c00;
}

/* Tomorrow Aqua */
.css .hljs-hexcolor {
  color: #3e999f;
}

/* Tomorrow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #8959a8;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
