@charset "UTF-8";
@import "reset";
@import "vendor/mo";
@import "vendor/prettify/prettify";
@import "vendor/prettify/marionette";
@import "variables";
@import "animations";
@import "base";
@import "ui";
@import "header";
@import "code_samples";
@import "about";
@import "stickers";
@import "screencasts";
@import "downloads";
@import "back_to_top_button";

.cl {
  clear: both;
}

.slider2 span {
  cursor: pointer;
}

.books { @include below(601px) {display: none} }

.book-list {
  text-align: center;

  a {
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }

    img {
      box-shadow: 2px 2px 4px lighten($gray, 25%);
    }
  }
}

.logos {
  text-align: center;

  li {
    margin:   1.8%;
    display:  inline-block;
    vertical-align: middle;
    height: 60px;
    width: 200px;
  }

  a {
     display:  inline-block;
  }

  img {
    max-height: 60px;
    max-width: 200px;
  }

  .adjust {
    padding-top: 15px;
  }
}

.show-more:after {
  content: "[+]";
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0.7;
  font-size: 0.7em;
  padding-left: 5px;
  display: inline-block;
}

.active .show-more:after {
  content: "[-]";
}

/* Pure CSS slide up & down: http://davidwalsh.name/css-slide */
.slider.closed {
  max-height: 0;
}

.slider {
  overflow-y: hidden;
  max-height: 2000px;

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.featured_videos {
  position: relative;
  font-size: 16px;
  line-height: 26px;
  p:last-of-type {
    margin-top: 10px;
    margin-bottom: 0;
  }
  header {
    position: relative;
    ul {
      padding-left: 0;
      list-style: none;
    }
  }
  .video_slideshow_scroller {
    overflow: hidden;

    .prev, .next {
      display: inline-block;
      height: 50px;
      width: 50px;
      border-radius: 50%;
      position: absolute;
      z-index: 900;
      text-align: center;
      font-size: 16px;
      color: #ffffff;
      line-height: 50px;
      top: 50%;
      margin-top: -25px;
      cursor: pointer;
    }

    .prev {
      left: 0;
      background: $mint url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="24" viewBox="0 0 768 768"><path fill="#FFFFFF" d="M493.28 237.28l-45.28-45.28-192 192 192 192 45.28-45.28-146.72-146.72z"></path></svg>') no-repeat 45% center;
    }

    .next {
      right: 0;
      background: $mint url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="24" viewBox="0 0 768 768"><path fill="#FFFFFF" d="M320 192l-45.28 45.28 146.72 146.72-146.72 146.72 45.28 45.28 192-192z"></path></svg>') no-repeat 55% center;
    }

    .video_slideshow {
      white-space: nowrap;
      transition: transform .6s ease-in-out;

      .video_slide {
        width: 470px;
        display: inline-block;
        margin-right: 40px;

        @include below($sm-breakpoint) {
            width: 100%;
        }

        .vid {
          margin-bottom: 20px;
          border-radius: 10px;
          width: 100%;
          float: left;
          position: relative;
          .vid-player {
            background-size: cover;
            -moz-background-size: cover;
            -webkit-background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 320px;
            position:relative;
            width: 100%;
            border: 1px solid $light-grey;
          }
          .youtube-play {
              position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -42px;
            margin-top: -30px;
            display: inline-block;
            width: 85px;
            height: 60px;
            cursor: pointer;
            color: #1F1F1F;
            &:hover{
              color: $red;
            }
          }
          .fluid-width-video-wrapper {
            margin-bottom: $small-font;
          }
          p {
            font-size: $mid-font;
            line-height: 16px;
            font-family: $sans;
          }
          @include below($med-breakpoint) {
            width: 100%;
          }
        }
      }
    }
  }
}

.support-link-icon {
  vertical-align: text-top;
}
.support-link {
  color: $dark-gray;
  display: inline;
  margin: 0 0 5px 12px;
  transition: all 200ms ease;
  text-decoration: none;
  &:hover {
    color: darken($dark-gray, 15%);
    text-decoration: underline;
  }
}
.support {
  font-size: 16px;
  line-height: 26px;
  .social-network-col {
    width: $col-1-3;
    float: right;
    @include below($med-breakpoint) {
      width: 100%;
    }
    font-family: $sans;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 26px;
    li {
      margin-bottom: 15px;
    }
    @include below(705px) {
      margin-top: 40px;
    }
  }
  .support_article {
    width: $col-2-3 - 8%;
    float: left;
    @include below($med-breakpoint) {
      width: 100%;
    }
  }
  .btn-action {
    display: inline-block;
    float: right;
    margin-top: 10px;
  }
}

footer {
  background-color: $light-blue;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid darken($light-blue, 15%);
  text-align: center;
  height: 120px;

  p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: $mid-font;
    color: $gray;

    a {
      color: $gray;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        color: darken($dark-gray, 15%);
        text-decoration: underline;
      }
    }
  }

  .heart-icon {
    margin: 0 3px;
  }
}

.browsehappy {
  background: lighten(black, 15%);
  font: 13px/21px helvetica;
  color: #fff;
  border-bottom: 5px solid lighten(black, 30%);
  cursor: pointer;
  p {
    margin: 0;
    padding: 0;
  }
  a {
    color: lighten(yellow, 25%);
  }
}
