script(type="text/javascript", src="https://cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js" onload="docsearch({ apiKey: '8bcc061269eccef1857658e85b62ebf7',  indexName: 'marionettejs', inputSelector: '#search-input'});")
