extends ../layouts/layout

block meta
  title(itemprop="name") Download Options | Marionette.js – The Backbone Framework
  meta(content='Get Marionette just the way you want it.')

block content
  include ./sections/_header
  include ./sections/_downloads
  include ./sections/_package_info

