section.about.column-contain
  article.left
    header
      h2 About Marionette
    p.
      Backbone.Marionette is a composite application library for Backbone.js that aims to simplify the construction of large scale JavaScript applications.
    p.
      It is a collection of common design and implementation patterns found in the applications that we have been building with Backbone, and includes pieces inspired by composite application architectures, event-driven architectures, messaging architectures, and more.
  .quick-links.right
    nav.top-quick-links
      h3 Quick Links
      ul
        li
          a(href="docs/current") Docs
        li
          a(href="docs/backbone.marionette.html") Annotated Source Code
        li
          a(href="downloads/backbone.marionette.js") Marionette.js Bundled
        li
          a(href="http://marionettejs.github.io") Blog
    nav
      h3 Requirements
      ul
        li
          a(href="http://jquery.com/", target="_blank") jQuery
          span v1.8+
        li
          a(href= "http://underscorejs.org/", target:"_blank") Underscore
          span v1.4.4+
        li
          a(href= "http://backbonejs.org/", target: "_blank") Backbone
          span
            | v1.1.x
            p.note is preferred. v1.0.0, v0.9.9 and v0.9.10 should work still
        li
          a(href= "https://github.com/marionettejs/backbone.wreqr", target: "_blank") Backbone.Wreqr
        li
          a(href= "https://github.com/marionettejs/backbone.babysitter", target: "_blank") Backbone.BabySitter
  .cl
