section.about.column-contain
  article.left
    header
      h2 About Marionette
    p.
      Marionette is a composite application library for Backbone that aims to simplify the construction of large scale JavaScript applications.
    p.
      It is a collection of common design and implementation patterns found in the applications that we have been building with Backbone and includes pieces inspired by composite application architectures, event-driven architectures, messaging architectures, and more.
  .quick-links.right
    nav.bottom-quick-links
      h3 Requirements
      ul
        li
          a(href="http://jquery.com/", target="_blank") jQuery&nbsp;
          span v1.8+
        li
          a(href= "http://underscorejs.org/", target="_blank") Underscore&nbsp;
          span v1.4.4+
        li
          a(href= "http://backbonejs.org/", target= "_blank") Backbone&nbsp;
          span
            | v1.1.x 
            strong.note is preferred. v1.0.0, v0.9.9 and v0.9.10 should work still.
        li
          a(href= "https://github.com/marionettejs/backbone.wreqr", target= "_blank") Backbone.Wreqr
        li
          a(href= "https://github.com/marionettejs/backbone.babysitter", target= "_blank") Backbone.BabySitter
  .cl
