section.about.column-contain
  .features
    .feature.col-1-3.left
      header
        h2 Layouts
      p.description.
        Organize your app in terms of small views.

        Views should be small and easy on the eyes.

    .feature.col-1-3.left
      header
        h2 Lists
      p.description.
        Show a sorted filtered list without breaking a sweat.

        Have a massive collection? Want to add or remove an item? No worries!

    .feature.col-1-3.left
      header
        h2 Utilities
      p.description.
        Learn to love the details.

        We've added tons of features that will keep you from ever
        wanting going back.

    .cl

    .feature.col-1-3.left
      header
        h2 Behaviors
      p.description.
        Share complex UI interactions across views.

        Behaviors are like mixins, without all of the pain
        associated with property collision.

    .feature.col-1-3.left
      header
        h2 Radio
      p.description.
        Communicate between independent applications with a
        powerful evented system.

    .feature.col-1-3.left
      header
        h2 Objects
      p.description.
        Write classes with the same api as your views.

        Marionette Objects support features like extend,
        events, initialize, and more.

    .cl

section.about.why.column-contain
  .features
    .feature.col-1-2.left
      header
        h2 Approachable
      p.description.
        Confused about how something works? Read the annotated source code.
        Think of Marionette as the code you would have written
        if you had the time and a thousand sets of eyes.

    .feature.col-1-2.left
      header
        h2 Community
      p.description.
        Marionette community is home to the most
        welcoming and vibrant discussions in the Backbone ecosystem.
    .cl

    .feature.col-1-2.left
      header
        h2 Iterative
        p.description.
          Have a large unruley code base that you can not simply rewrite?
          Marionette can be added in pieces.

    .feature.col-1-2.left
      header
        h2 Flexible
        p.description.
          Stop spending more time thinking about your framework
          than your app. Marionette will never get in the way
          of you and your code.
    .cl
.cl
