section.books.column-contain
  h2 Books on Marionette
  .book-list
    iframe(allowtransparency= "true", frameborder= "0", height= "353", src= "https://leanpub.com/building-backbone-plugins/embed", width= "160")
    iframe(allowtransparency= "true", frameborder= "0", height= "353", src= "https://leanpub.com/marionette-gentle-introduction/embed", width= "160")
    iframe(allowtransparency= "true", frameborder= "0", height= "353", src= "https://leanpub.com/structuring-backbone-with-requirejs-and-marionette/embed", width= "160")
    iframe(allowtransparency= "true", frameborder= "0", height= "353", src= "https://leanpub.com/marionetteexpose/embed", width= "160")
    iframe(allowtransparency= "true", frameborder= "0", height= "353", src= "https://leanpub.com/marionette-serious-progression/embed", width= "160")

