/[if lt IE 9]
  <div class="browsehappy">
  <p>
  You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com" target="_blank">upgrade your browser</a> or <a href="//www.google.com/chromeframe/?redirect=true" target="_blank">activate Google Chrome Frame</a> to improve your experience.
  </p>
  <p>Clicking anywhere inside this frame will temporarily hide it.</p>
  </div>
