section#code-samples
  .example-tab
    input#(type="radio", name='example-index', value='#example-index-0')

  .examples
    #example-index-0
      code.view-code
        var SingleLink = Marionette.ItemView.extend({
          tagName: 'li',
          template: _.template("<a href='<%-path%>'><%-path%></a>")
        });

        var ListView = Marionette.CollectionView.extend({
          tagName: 'ul',
          childView: SingleLink
        });
      .cl
      code.data-code
        var list = new Backbone.Collection([
          {path: 'http://google.com'},
          {path: 'http://mojotech.com'},
        ]);

        (new ListView({
          collection: list,
          el: '.example-render'
        })).render();
      .cl
  
  // Live editing
  div.example-view.CodeMirror.cm-s-lesser-dark
  div.example-code.cm-s-lesser-dark
  
  // Rendered output from live editing
  div.example-render