section.support.column-contain
  .social-network-col
    ul
      li
        a.support-link.support-link__with_icon(href= "https://gitter.im/marionettejs/backbone.marionette", target="_blank")
          svg.support-link-icon(width="18", height="18")
            use(xlink:href="#gitter-square")
          span.support-link__label Chat with us
        
      li
        a.support-link.support-link__with_icon(href= "https://twitter.com/marionettejs", target= "_blank")
          svg.support-link-icon(width="18", height="18")
            use(xlink:href="#twitter-square")
          span.support-link__label Follow us
      li
        a.support-link.support-link__with_icon(href= "https://github.com/marionettejs/backbone.marionette", target="_blank")
          svg.support-link-icon(width="18", height="18")
            use(xlink:href="#github-square")
          span.support-link__label
            span.stargazers-js.notranslate 5700
            |  stargazers
        
  article.support_article
    h2 Contribute
    p.
      Marionette greatly appreciates the community! We welcome your support and contributions. Please visit the GitHub repo to report bugs, suggest your ideas, help other users out, and even contribute code.
    .btn-wrapper
      a.btn.btn-action(href="https://github.com/marionettejs/backbone.marionette/issues", target="_blank") GitHub Issues
  .cl
