section.column-contain.hidden-xs#download
  .section-header
    h2.left Downloads and Documentation
    small.right
      | &nbsp;#{VERSION}
      span.middot ·
      a(href='https://github.com/marionettejs/backbone.marionette/blob/master/upgradeGuide.md')
        | See Upgrade Guide
      span.middot ·
      a(href='https://github.com/marionettejs/backbone.marionette/blob/master/changelog.md')
        | See Changelog
      span.middot ·
      a(href='docs/current/')
        | Docs
    .cl
  div.bower-install
    h2 With Bower
    p.code-wrap bower install marionette
  div
    h2 With npm
    p.code-wrap npm i backbone.marionette
  .download-group
    h2 Pre-Packaged
    p These archives contain all of the files you need to get started with Marionette, including Backbone, jQuery and all other prerequisites.
    p These packages include the standard UMD version of both the non-minified and minified versions of Marionette.
    h3 *nix (.tar.gz)
    p
      a(href='downloads/backbone.marionette.tar.gz') backbone.marionette.tar.gz

    h3 Windows (.zip)
    p
      a(href='downloads/backbone.marionette.zip') backbone.marionette.zip
  .download-group
    h2 Bundled (UMD)
    p Download the bundled backbone.marionette.js file with the Backbone.Wreqr and Backbone.BabySitter prerequisites built in.
    .gw
      ul.g
        li
          a(href='downloads/backbone.marionette.js') backbone.marionette.js
        li
          a(href='downloads/backbone.marionette.min.js') backbone.marionette.min.js
  .download-group
    h2 Core
    p Download the core backbone.marionette.js file, without Backbone.BabySitter or Backbone.Wreqr.
    p These pre-requisites are still required for Marionette to run, but this allows you to download them separately and update them independently.
    h3 Standard .js (UMD)
    .gw
      ul.g
        li
          a(href= 'downloads/core/backbone.marionette.js') backbone.marionette.js
        li
          a(href= 'downloads/core/backbone.marionette.min.js') backbone.marionette.min.js
  .cl
