section.example-apps.column-contain
  h2 Example Apps
  .row
    .example.col-4
      header
        h3 Marionette Wires
        a.link(href="http://www.marionettewires.com", target= "_blank")
          img(src="images/screenshots/wires.png", alt="Marionette Wires")
      p.description.
        An opinionated Marionette starter app.
      ul
        li Browserify
        li Babel (ES6)
        li Handlebars
        li Gulp
        li Mocha + Chai
        li Sinon
        li
          a(href="http://pioneerjs.com", target = "_blank") Pioneer
      .cl
      .btn-wrapper
        a.btn.btn-action(href = "https://github.com/thejameskyle/marionette-wires", target= "_blank") View Source

    .example.col-4
      header
        h3 Gistbook
        a.link(href="http://www.gistbook.io", target= "_blank")
          img(src="images/screenshots/gistbook.png", alt="Gistbook")
      p.description.
        An app to write about technical subjects.
      ul
        li Webpack
        li Babel (ES6)
        li Handlebars
        li Grunt
      .cl
      .btn-wrapper
        a.btn.btn-action(href = "https://github.com/jmeas/gistbook", target= "_blank") View Source

    .example.col-4
      header
        h3 Edit
        a.link(href="http://www.edit.sx", target= "_blank")
          img(src="images/screenshots/edit.png", alt="Edit")
      p.description.
        A collaborative tool to share photographs.
      ul
        li CoffeeScript
        li
          a(href="https://parse.com", target = "_blank") Parse
        li
          a(href="http://roots.cx", target = "_blank") Roots
      .cl
      .btn-wrapper
        a.btn.btn-action(href = "https://github.com/samccone/edit.sx-frontend", target= "_blank") View Source
        
    .example.col-4
      header
        h3 Streamus
        a.link(href="https://chrome.google.com/webstore/detail/streamus/jbnkffmindojffecdhbbmekbmkkfpmjd", target= "_blank")
          img(src="images/screenshots/streamus.png", alt="Streamus")
      p.description.
        A YouTube video player Chrome extension.
      ul
        li RequireJS
        li
          a(href="https://github.com/requirejs/text", target = "_blank") Text
        li Grunt
        li Mocha + Chai
        li Sinon
      .cl
      .btn-wrapper
        a.btn.btn-action(href = "https://github.com/MeoMix/StreamusChromeExtension", target= "_blank") View Source
