section.example-apps.column-contain
  h2 Example Apps
  .row
    .example.col-3.left
      header
        h3 Marionette Wires
        a.link(href="http://www.marionettewires.com", target= "_blank")
          img(src="images/screenshots/wires.png", alt="Marionette Wires")
      p.description.
        An opinionated Marionette starter app.
      ul
        li Browserify
        li Babel (ES6)
        li Handlebars
        li Gulp
      .cl
      .btn-wrapper
        a.btn.btn-action(href = "https://github.com/thejameskyle/marionette-wires", target= "_blank") View Source

    .example.col-3.left
      header
        h3 Gistbook
        a.link(href="http://www.gistbook.io", target= "_blank")
          img(src="images/screenshots/gistbook.png", alt="Gistbook")
      p.description.
        An app to write about technical subjects.
      ul
        li Webpack
        li Babel (ES6)
        li Handlebars
        li Grunt
      .cl
      .btn-wrapper
        a.btn.btn-action(href = "https://github.com/jmeas/gistbook", target= "_blank") View Source

    .example.col-3.left
      header
        h3 Edit
        a.link(href="http://www.edit.sx", target= "_blank")
          img(src="images/screenshots/edit.png", alt="Edit")
      p.description.
        A collaborative tool to share photographs.
      ul
        li CoffeeScript
      .cl
      .btn-wrapper
        a.btn.btn-action(href = "https://github.com/samccone/edit.sx-frontend", target= "_blank") View Source
