footer
  p website handcrafted &amp; coded by
  a(href="http://mojotech.com", target="_blank")
  img(src='mojotech.png', alt='MojoTech', class='mt-logo')
script{src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
script.
  // Flattr
  (function() {
      var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
      s.type = 'text/javascript';
      s.async = true;
      s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
      t.parentNode.insertBefore(s, t);
  })();

  // Google Analytics
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34606707-1']);
  _gaq.push(['_setDomainName', 'marionettejs.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);
  (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
