footer
  p Made with &hearts; by&nbsp;
    a(href="https://github.com/marionettejs/marionettejs.com/graphs/contributors", target="_blank", rel="noopener") all of us
  p
    small Insights by
      a.notranslate(href="//www.hotjar.com/?utm_source=badge", target="_blank", rel="noopener") Hotjar

  link(href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css' media="bogus")
  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/docsearch.js@1/dist/cdn/docsearch.min.css" media="bogus")
