footer
  p Made with
    span.heart-icon &hearts;
    | by&nbsp;
    a(href="https://github.com/marionettejs/marionettejs.com/graphs/contributors", target="_blank") all of us
  a(href="#top", class="top") Top
