footer
  p Made with &hearts; by&nbsp;
    a(href="https://github.com/marionettejs/marionettejs.com/graphs/contributors", target="_blank") all of us
  p
    small Insights by 
      a.notranslate(href="//www.hotjar.com/?utm_source=badge", target="_blank") Hotjar

  a(href="#top", class="top")
    span.hidden-visually Top
