.global-nav
  section.column-contain
    a.left(href="#")
      | Marionette

    ul.right
      li.left
        a(href="#") Docs
      li.left
        a(href="#") Community
      .clear
    .clear

.masthead
  img(src="images/marionette_logo.png", alt="Marionette.js – A scalable and composite application architecture for Backbone.js", class= "primary-logo")
  a.btn.download-button(href = "#download")
    | Download&nbsp;
    span= VERSION
    a.on-github(href="https://github.com/marionettejs/backbone.marionette", target="_blank") GitHub
.ribbon
  div
    h1.headline
      | The Backbone Framework