header.global-nav
  .global-nav__section.column-contain
    a.left.logo(href="/")
      | Marionette

    button.menu-icon(type="button")
      svg(width="33px", height="24px")
        use(xlink:href="#hamburger")
    nav.nav-slider.closed(role="navigation")
      ul.nav-slider__list
        li.left
          a(href="docs/current") Docs
          span.middot ·
        li.left
          a(href="annotated-src/backbone.marionette.html") Annotated Source
          span.middot ·
        li.left
          a(href="https://gitter.im/marionettejs/backbone.marionette", target="_blank") Support
          span.middot ·
        li.left
          a(href="http://blog.marionettejs.com") Blog
          span.middot ·
        li.left
          a.twitter(href="https://twitter.com/marionettejs", target="_blank")
            svg.support-link-icon(width="18", height="16")
              use(xlink:href="#twitter")
          span.middot ·
        li.left
          a.github-mark(href="https://github.com/marionettejs/backbone.marionette", target="_blank")
            svg(width="19px", height="19px")
              use(xlink:href="#github-mark")
    .clear

.masthead
  .wrapper
    .left
      img(src="images/marionette.svg", alt="Marionette logo", class= "primary-logo")
      img(src="images/marionette-text.svg", alt="Marionette", class= "logo-text")
    .right
      h1 The Backbone Framework
      h2 Marionette simplifies your Backbone application code with robust views and architecture solutions.
      a.btn.download-button(href = "#download")
        | Download&nbsp;
        span= VERSION
      a.btn.download-button.view-docs(href = "/docs/current") View Docs
