.global-nav
  section.column-contain
    .left.logo
      | Marionette

    .menu-icon
      svg(width="35px", height="26px")
        use(xlink:href="#hamburger")

    ul.right.nav-slider.closed
      li.left
        a(href="docs/current") Docs
        span.middot ·
      li.left
        a(href="annotated-src/backbone.marionette.html") Annotated Source
        span.middot ·
      li.left
        a(href="https://gitter.im/marionettejs/backbone.marionette", target="_blank") Support
        span.middot ·
      li.left
        a(href="http://marionettejs.github.io") Blog
        span.middot ·
      li.left
        a(href="https://github.com/marionettejs/backbone.marionette", target="_blank") GitHub
        span.middot ·
      li.left
        a.twitter(href="https://twitter.com/marionettejs", target="_blank")
          svg.support-link-icon(width="16", height="14")
            use(xlink:href="#twitter")
      .clear
    .clear

.masthead
  .wrapper
    .left
      img(src="images/marionette.svg", alt="Marionette.js – A scalable and composite application architecture for Backbone.js", class= "primary-logo")
    .right
      h1 The Backbone Framework
      h2 Marionette simplifies your Backbone application code with robust views and architecture solutions.
      a.btn.download-button(href = "#download")
        | Download&nbsp;
        span= VERSION
      a.btn.download-button.view-docs(href = "/docs/current") View Docs
