include ../common/_global_nav

.masthead
  .wrapper
    .left
      img(src="images/marionette.svg", alt="Marionette logo", class= "primary-logo")
      img(src="images/marionette-text.svg", alt="Marionette", class= "logo-text")
    .right
      h1 The Backbone Framework
      h2 Marionette simplifies your Backbone application code with robust views and architecture solutions.
      a.btn.download-button(href = "#download")
        | Download&nbsp;
        span= VERSION
      a.btn.download-button.view-docs(href = "/docs/current") View Docs
