section.screencasts.inspector.column-contain(itemscope, itemtype="http://schema.org/WebApplication")
  h2(itemprop="name") Marionette Inspector - Chrome Extension
  meta(itemprop="operatingSystem", content="Chrome")
  meta(itemprop="applicationCategory", content="Developer Tools")
  ul
    li
      .col-2-3
        a.link(itemprop="url", href="http://chrome.google.com/webstore/detail/marionette-inspector/fbgfjlockdhidoaempmjcddibjklhpka", target= "_blank")
          img.thumbnail.left(itemprop="image", src="images/screenshots/inspector-screenshots.gif", alt="Marionette Inspector")

      .col-1-3.right
        p.description(itemprop="description").
          A world-class inspector for exploring your application's views, models, events and more. You won't know how you got by without it.
        .btn-wrapper
          a.btn.btn-action(itemprop="downloadUrl", href="http://chrome.google.com/webstore/detail/marionette-inspector/fbgfjlockdhidoaempmjcddibjklhpka", target="_blank") Install Now
          a.btn.btn-action.secondary-color(href="inspector/") Learn More
