section.screencasts.inspector.column-contain
  h2 Marionette Inspector

  ul
    li
      a.link(href="http://chrome.google.com/webstore/detail/marionette-inspector/fbgfjlockdhidoaempmjcddibjklhpka", target= "_blank")
        img.screencast-thumb.left(src="images/inspector-logo.png", alt="Marionette Inspector", width="145", height="142")

      .copy.right
        p
          a.link(href="http://chrome.google.com/webstore/detail/marionette-inspector/fbgfjlockdhidoaempmjcddibjklhpka", target= "_blank") Chrome Web Store

        p.description.
          World class inspector for exploring your application's views, models, events and more.
          You won't know how you got by without it.
