section.screencasts.column-contain
  h2 Marionette Inspector

  ul
    li
      a.link(href="http://chrome.google.com/webstore/detail/marionette-inspector/fbgfjlockdhidoaempmjcddibjklhpka", target= "_blank")
        img.screencast-thumb.left(src="images/inspector-logo.png", alt='inspector', style="width: 145px; height: 142px;")

      .copy.right
        p
          a.link(href="http://chrome.google.com/webstore/detail/marionette-inspector/fbgfjlockdhidoaempmjcddibjklhpka", target= "_blank") Chrome Web Store

        p.description(style="padding-bottom:0;").
          World class inspector for exploring your application's views, models, events and more.
          You won't know how you got by without it.


