section.screencasts.column-contain
  h2 Screencasts

  ul
    li
      a.link(href="http://www.pluralsight.com/courses/marionette-fundamentals", target= "_blank")
        img.screencast-thumb.left(src="images/screenshots/pluralsight.png", alt='')
      .copy.right
        a.link(href="http://www.pluralsight.com/courses/marionette-fundamentals", target= "_blank") Marionette Fundamentals by Pluralsight
        p.description.
          This paid course provides an in-depth look at Marionette with four hours of quality content. It is one of the more recently released screencasts.
    li
      a.link(href="http://BackboneRails.com", target= "_blank")
        img.screencast-thumb.left(src="images/screenshots/backbonerails.png", alt='')
      .copy.right
        a.link(href="http://BackboneRails.com", target= "_blank") BackboneRails
        p.description
          | Brian Mann has produced a comprehensive set of screencasts that cover just about everything you need to know to build large-scale Backbone applications on top of Ruby on Rails using CoffeeScript. Even if you are not using Ruby on Rails or CoffeeScript, the concepts are still helpful.
          span Some syntax might be outdated, so be sure to check against the docs.

    li
      a.link(href="https://code.tutsplus.com/courses/advanced-backbone-patterns-and-techniques", target= "_blank")
        img.screencast-thumb.left(src="images/screenshots/introductiontomarionette.png", alt='')
      .copy.right
        a.link(href="https://code.tutsplus.com/courses/advanced-backbone-patterns-and-techniques", target= "_blank") Tuts+ Introduction to Marionette
        p.description
          | Tuts+ Premium has a good paid series on “Advanced Backbone Patterns and Techniques“ with a free 10-minute episode that introduces Marionette. This episode focuses on bringing the most value to your Backbone app, quickly, by looking at the various views that Marionette provides along with regions to display the views in the DOM. It'll give you an idea of what Marionette can do for your app without getting too in-depth.
          span Some syntax might be outdated, so be sure to check against the docs.
