section.screencasts.column-contain
  h2 Screencasts

  ul
    li
      img.screencast-thumb-left(src="images/screenshots/backbonerails.png", alt='backbone rails')
      .copy.right
        a.link(href="http://BackboneRails.com", target= "_blank") BackboneRails.com
        p.description.
          Brian Mann has been hard at work over the last few months, producing a comprehensive set of screencasts that cover just about everything you need to know, to build large-scale Backbone applications on top of Ruby on Rails, using CoffeeScript.
    li
      img.screencast-thumb-left(src="images/screenshots/introductiontomarionette.png", alt='introduction to marionette')
      .copy.right
        a.link(href="https://tutsplus.com/lesson/backbone-marionette/", target= "_blank") Tuts+  Introduction to Marionette
        p.description.
          Tuts+ Premium has a good series on “Advanced Backbone Patterns And Practices“, with a free episode that covers an introduction to Marionette. This episode focuses on bring the most value to your Backbone app, quickly, by looking at the various views that Marionette provides, along with Regions to display the views in the DOM.
          </br>
          The majority of this series is paid, but there are a few free ones including the MarionetteJS episode. It’s a great episode but it’s only 10 minutes. So you can expect it to give you an idea of what Marionette can do for your app, without getting too in-depth.
