.social-links
  a.btn.social.github(href="https://github.com/marionettejs/backbone.marionette", target="_blank") Star
  a(href="https://gitter.im/marionettejs/backbone.marionette", class="gitter-button", target="_blank")
    img(src="images/gitter-badge.svg")
  a.btn.social.twitter(href="https://twitter.com/share?text=%40Marionettejs") Follow
