section.stickers.column-contain
  .sticker-pics.left
    a(href = "http://devswag.com/products/marionette-stickers-4", target="_blank", rel="noopener")
      img.stickers(src="images/stickers.png", alt="Marionette sticker")
    a(href = "http://devswag.com/products/marionette-stickers-4", target="_blank", rel="noopener")
      img(src="images/stickers-laptop.png", alt="Marionette sticker on a MacBook laptop")
  .sticker-order.right
    header
      h2 Stickers!
    p.
      Everyone on the Marionette team works for free. Show your support by getting some stickers. Not only will your laptop look cool, your contributions will help further the development of this open source project!
    a.btn.btn-action(href = "http://devswag.com/products/marionette-stickers-4", target="_blank", rel="noopener") Show Support
  .cl
