section.stickers.column-contain
  .sticker-pics.left
    a(href = "http://devswag.com/products/marionette-stickers-4", target= "_blank")
      img.stickers(src="images/stickers.png", alt="Marionette sticker")
    a(href = "http://shirtjs.com/product-category/collections/marionettejs", target= "_blank")
      img(src="images/shirts.png", alt="Marionette shirts")
  .sticker-order.right
    header
      h2 Stickers and Tees!
    p.
      Everyone on the Marionette team works for free. Show your support by getting some stickers and tees. Not only will you look cool, your contributions will help further the development of this open source project!
  .cl
