section.stickers.column-contain
  .sticker-pics.left
    img(src="images/stickers1.jpg", alt="")
    img(src="images/stickers2.jpg", alt="")
    img(src="images/stickers3.jpg", alt="")
  .sticker-order.right
    header
      h2 Stickers!
    p.
      These awesome stickers are printed by StickerMule, and are the highest quality vinyl stickers, coming in at 2.27x3 inches. The perfect size for any space on your laptop lid.
    a.tiny-link(href = "http://devswag.com/products/marionette-stickers-4", target= "_blank")
      Order Yours Now!
      i.icon-arrow-right
  .cl
