section.support.column-contain
  .social-network-col
    ul
      li
        svg.support-link-icon(width="18", height="18")
          use(xlink:href="#gitter-square")
        a.support-link(href= "https://gitter.im/marionettejs/backbone.marionette", target="_blank") Chat with us
      li
        svg.support-link-icon(width="18", height="18")
          use(xlink:href="#twitter-square")
        a.support-link(href= "https://twitter.com/marionettejs", target= "_blank") Follow us
      li
        svg.support-link-icon(width="18", height="18")
          use(xlink:href="#github-square")
        a.support-link.github(href= "https://github.com/marionettejs/backbone.marionette", target="_blank")
  article.support_article
    h2 Contribute
    p.
      Marionette greatly appreciates the community! We welcome your support and contributions. Please visit the GitHub repo to report bugs, suggest your ideas, help other users out, and even contribute code.
    a.btn.btn-action(href="https://github.com/marionettejs/backbone.marionette/issues", target="_blank") GitHub Issues
  .cl
