%section.support.column-contain
  .social-network-col
    %ul
      %li
        %i.icon-twitter
        %a{href: "https://twitter.com/marionettejs", target: "_blank"} @marionettejs on Twitter
      %li
        %i.icon-google-plus
        %a{href: "https://plus.google.com/101060306397560578875", target: "_blank"} Marionette.js on Google+
      %li
        %i.icon-github
        %a{href: "https://github.com/marionettejs/backbone.marionette", target:"_blank"} Marionette.js on GitHub
      %li
        %i.irc
        %a{href: "http://freenode.net", target:"_blank"} #marionette on freenode IRC
  %article.support_article
    %h2 Support Marionette.js
    %p
      Marionette needs your support, but not everyone can offer assistance with code, bug submissions, and answering questions. If you're using Marionette and you're finding that it is saving you as much time and effort as we believe it does, then please consider financial support for the project.
    .donate
      %a.btn.btn-donate{href: "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7SJHYWJ487SF4", target: "_blank"} Donate
      %p.sans
        Your PayPal contributions are much appreciated, thank you!
  .cl
