section.support.column-contain
  .social-network-col
    ul
      li
        i.icon-twitter
        a(href= "https://twitter.com/marionettejs", target= "_blank") @marionettejs on Twitter
      li
        i.icon-google-plus
        a(href= "https://plus.google.com/101060306397560578875", target= "_blank") Marionette.js on Google+
      li
        i.icon-github
        a(href= "https://github.com/marionettejs/backbone.marionette", target="_blank") Marionette.js on GitHub
      li
        i.irc
        a(href= "http://freenode.net", target="_blank") #marionette on freenode IRC
  article.support_article
    h2 Contribute to Marionette.js
    p.
      Marionette greatly appreciates the community! We welcome your support and contributions. Please visit the GitHub repo to report bugs, suggest your ideas, help other users out, and even contribute code.

    a.btn.btn-issues(href="https://github.com/marionettejs/backbone.marionette/issues", target="_blank") GitHub Issues
  .cl
