section.featured_videos.column-contain
  h2 Featured Videos
  .slider2
  .video_slideshow("data-cycle-slides" = ".video_slide")
    .video_slide
      figure.vid
        iframe(allowfullscreen = "", frameborder = "0", height = "320px", width="100%", src = "http://www.youtube.com/embed/Nbmygb0uLFM")
        p.
          Marionette 101
      figcaption
        p.
          Jason Laster, a core contributor to Marionette, gives a quick intro to Marionette.
    .video_slide
      figure.vid
        iframe(allowfullscreen = "", frameborder = "0", height = "320px", width="100%", src = "http://www.youtube.com/embed/CTr-tTwRH3o")
        p.
          Nesting Your Views in Marionette
      figcaption
        p.
          Sam Saccone, a member of the Marionette team, explains how to deal with deeply nested views in Marionette.
    .video_slide
      figure.vid
        iframe(allowfullscreen = "", frameborder = "0", height = "320px", width="100%", src = "http://www.youtube.com/embed/6wvAswHkarE")
        p.
          Marionette Behaviors
      figcaption
        p.
          Jason Laster, a core member of Marionette, shows how you can use Marionette Behaviors to DRY up your view code.
    .video_slide
      figure.vid
        iframe(allowfullscreen = "", frameborder = "0", height = "320px", width="100%", src = "http://www.youtube.com/embed/2b1G3TdlQEU")
        p.
          Backbone.Wreqr
      figcaption
        p.
          James Smith, a core contributor to Marionette, explains how you can use Backbone.Wreqr to create an event-driven architecture.
    .video_slide
      figure.vid
        iframe(allowfullscreen = "", frameborder = "0", height = "320px", width="100%", src = "http://www.youtube.com/embed/eCTr7bG-7Mo")
        p.
          Using DevTools for Marionette Debugging
      figcaption
        p.
          Core team member, Jason Laster, gives away all of his tricks for debugging a Marionette app.
    .video_slide
      figure.vid
        iframe(allowfullscreen = "", frameborder = "0", height = "320px", width="100%", src = "http://www.youtube.com/embed/XDKk_jLu4z0")
        p.
          SEO-Enabling Your Marionette App
      figcaption
        p
          | Ian Stewart, a Front End Engineer, goes over simple strategies to put your single-page app on the search engine “map”.
    .video_slide
      figure.vid
        iframe(allowfullscreen = "", frameborder = "0", height = "320px", width="100%", src = "http://www.youtube.com/embed/qWr7x9wk6_c?rel=0")
        p.
          Brian Mann talks about building applications with Marionette
      figcaption
        p.
          Brian Mann demonstrates how to build modular Backbone apps using Marionette instead of building your application's infrastructure from scratch.
    .video_slide
      figure.vid
        iframe(allowfullscreen = "", frameborder = "0", height = "320px", width="100%", src = "http://www.youtube.com/embed/0o2whtCJw8I?rel=0")
        p.
          Check out the slide deck and other info from Amy's blog post about the presentation.
      figcaption
        p.
          Amy Palamountain gave a presentation on how to "Unsuck Your Backbone" at Codemania in New Zealand, in April of 2013. This is one of the best presentations I've seen, on a high level structure for your Backbone applications. Amy's experience in building scalable apps with composite application patterns in Windows shines through as she describes the patterns and practices that are baked in to Marionette.
    .video_slide
      figure.vid
        iframe(allowfullscreen = "", frameborder = "0", height = "320px", width="100%", src = "http://www.youtube.com/embed/VERQEr-bVTs")
      figcaption
        p.
          Derick Bailey's jQuery => Backbone => Marionette talk at the Houston Open Dev group. He moves from a jQuery application to a Backbone based structure, and introduces various parts of Marionette along the way.
  .cl