section.logos.column-contain.hidden-xs
  h2 Companies Using Marionette
  ul.company-logo-list
    li
      a(href= "http://about.me", target="_blank")
        img(data-src="images/logos/aboutme.png", alt= "about.me", class="adjust")
    li
      a(href= "http://bleacherreport.com", target="_blank")
        img(data-src="images/logos/bleacherreport.png", alt= "Bleacher Report", class="adjust")
    li
      a(href= "http://bocoup.com", target="_blank")
        img(data-src="images/logos/bocoup.png", alt= "Bocoup")
    li
      a(href= "https://www.cloudflare.com/join-our-team", target="_blank")
        img(data-src="images/logos/cloudflare.png", alt= "CloudFlare")
    li
      a(href= "http://disqus.com", target="_blank")
        img(data-src="images/logos/disqus.png", alt= "Disqus", class="adjust")
    li
      a(href= "http://etsy.com", target="_blank")
        img(data-src="images/logos/etsy.png", alt= "Etsy")
    li
      a(href= "https://www.eventbrite.com", target="_blank")
        img(data-src="images/logos/eventbrite.png", alt= "Eventbrite")
    li
      a(href= "http://www.fastcompany.com", target="_blank")
        img(data-src="images/logos/fastcompany.png", alt= "Fast Company", class="adjust")
    li
      a(href= "http://gawker.com", target="_blank")
        img(data-src="images/logos/gawkermedia.png", alt= "Gawker Media Group")
    li
      a(href= "http://moz.com", target="_blank")
        img(data-src="images/logos/moz.png", alt= "Moz")
    li
      a(href= "http://stubhub.com", target="_blank")
        img(data-src="images/logos/stubhub.gif", alt= "StubHub")
    li
      a(href= "http://weebly.com", target="_blank")
        img(data-src="images/logos/weebly.png", alt= "Weebly")
    div
      a(href="#", class="show-more") more
    .slider.closed
      li
        a(href= "http://advanseez.com", target="_blank")
          img(data-src="images/logos/advanseez.png", alt= "Advanseez", class="adjust")
      li
        a(href= "http://airbrake.io", target="_blank")
          img(data-src="images/logos/airbrake.png", alt= "Airbrake")
      li
        a(href= "http://ajency.in", target="_blank")
          img(data-src="images/logos/ajency.png", alt= "Ajency.in", class="adjust")
      li
        a(href= "http://appsaloon.be/?utm_source=marionettjs&utm_medium=website&utm_campaign=share-url", target="_blank")
          img(data-src="images/logos/appsaloon.png", alt= "AppSaloon", class="adjust")
      li
        a(href= "https://betterment.com", target="_blank")
          img(data-src="images/logos/betterment.png", alt= "Betterment")
      li
        a(href= "http://www.canddi.com", target="_blank")
          img(data-src="images/logos/canddi.png", alt= "CANDDi")
      li
        a(href= "http://carrot.is", target="_blank")
          img(data-src="images/logos/carrot.png", alt= "Carrot")
      li
        a(href= "http://crashlytics.com", target="_blank")
          img(data-src="images/logos/crashlytics.png", alt= "Crashlytics")
      li
        a(href= "http://crowdtwist.com", target="_blank")
          img(data-src="images/logos/crowdtwist.png", alt= "Crowdtwist", class="adjust")
      li
        a(href= "http://cynergy.com", target="_blank")
          img(data-src="images/logos/cynergy.png", alt= "cynergy")
      li
        a(href= "http://dlabs.si", target="_blank")
          img(data-src="images/logos/dlabs.png", alt= "D·Labs")
      li
        a(href= "http://edpuzzle.com", target="_blank")
          img(data-src="images/logos/edpuzzle.png", alt= "EDpuzzle")
      li
        a(href= "https://www.found.no", target="_blank")
          img(data-src="images/logos/found.png", alt= "Found")
      li
        a(href= "http://gomoob.com", target="_blank")
          img(data-src="images/logos/gomoob.png", alt= "GoMoob")
      li
        a(href= "http://growthrepublic.com", target="_blank")
          img(data-src="images/logos/growthrepublic.png", alt= "Growth Republic")
      li
        a(href= "http://www.hail.to", target="_blank")
          img(data-src="images/logos/hail.png", alt= "Hail")
      li
        a(href= "http://www.helpscout.com", target="_blank")
          img(data-src="images/logos/helpscout.png", alt= "Help Scout", class="adjust")
      li
        a(href= "http://www.hookandloopnyc.com", target="_blank")
          img(data-src="images/logos/hookandloop.png", alt= "Hook & Loop", class="adjust")
      li
        a(href= "http://hudl.com", target="_blank")
          img(data-src="images/logos/hudl.png", alt= "Hudl")
      li
        a(href= "https://inside.com", target="_blank")
          img(data-src="images/logos/inside.png", alt= "Inside")
      li
        a(href= "http://inspectall.com", target="_blank")
          img(data-src="images/logos/inspectall.png", alt= "Inspectall", class="adjust")
      li
        a(href= "http://learnvest.com", target="_blank")
          img(data-src="images/logos/learnvest.png", alt= "LearnVest", class="adjust")
      li
        a(href= "http://madglory.com", target="_blank")
          img(data-src="images/logos/madglory.png", alt= "MadGlory", class="adjust")
      li
        a(href= "http://merchbro.com", target="_blank")
          img(data-src="images/logos/merchbro.png", alt= "Merchbro", class="adjust")
      li
        a(href= "https://portal.mimedia.com", target="_blank")
          img(data-src="images/logos/mimedia.png", alt= "MiMedia")
      li
        a(href= "http://www.mrbooker.ch", target="_blank")
          img(data-src="images/logos/mrbooker.png", alt= "MrBooker", class="adjust")
      li
        a(href= "https://www.myedu.com", target="_blank")
          img(data-src="images/logos/myedu.png", alt= "myEdu")
      li
        a(href= "https://www.onehealth.com", target="_blank")
          img(data-src="images/logos/onehealth.png", alt= "OneHealth")
      li
        a(href= "https://www.mypebble.co.uk", target="_blank")
          img(data-src="images/logos/pebble.png", alt= "Pebble")
      li
        a(href= "http://www.pendorent.com", target="_blank")
          img(data-src="images/logos/pendorent.png", alt= "Pendo Rent")
      li
        a(href= "http://www.pixlee.com", target="_blank")
          img(data-src="images/logos/pixlee.png", alt= "Pixlee", class="adjust")
      li
        a(href= "https://plex.tv", target="_blank")
          img(data-src="images/logos/plex.png", alt= "Plex")
      li
        a(href= "http://popcorntime.io", target="_blank")
          img(data-src="images/logos/popcorntime.png", alt= "popcorntime")
      li
        a(href= "http://railslove.com", target="_blank")
          img(data-src="images/logos/railslove.png", alt= "Railslove", class="adjust")
      li
        a(href= "http://ravenhq.com", target="_blank")
          img(data-src="images/logos/ravenhq.png", alt= "Raven HQt")
      li
        a(href= "http://raygun.io", target="_blank")
          img(data-src="images/logos/raygun.png", alt= "RayGun", class="adjust")
      li
        a(href= "http://rbmaradio.com", target="_blank")
          img(data-src="images/logos/rbma.png", alt= "Red Bull Music Academy Radio")
      li
        a(href= "http://www.revvy.com", target="_blank")
          img(data-src="images/logos/revvy.png", alt= "Revvy")
      li
        a(href= "http://roastlog.com", target="_blank")
          img(data-src="images/logos/roastlog.png", alt= "Roastlog")
      li
        a(href= "http://rollout.io", target="_blank")
          img(data-src="images/logos/rollout.png", alt= "Rollout", class="adjust")
      li
        a(href= "https://www.shopetti.com", target="_blank")
          img(data-src="images/logos/shopetti.gif", alt= "shopetti", style= "max-height:80px")
      li
        a(href= "http://www.besnappy.com", target="_blank")
          img(data-src="images/logos/snappy.png", alt= "BeSnappy")
      li
        a(href= "http://soom.la", target="_blank")
          img(data-src="images/logos/soomla.png", alt= "Soomla")
      li
        a(href= "http://tiptap.com", target="_blank")
          img(data-src="images/logos/tiptap.png", alt= "TipTap")
      li
        a(href= "https://www.zweitag.de", target="_blank")
          img(data-src="images/logos/zweitag.png", alt= "zweitag")