section.logos.column-contain.hidden-xs
  h2 Companies using Marionette.js
  ul.company-logo-list
    li
      a(href= "http://about.me")
        img(src='images/logos/aboutme.png', alt= 'about.me')
    li
      a(href= "http://advanseez.com")
        img(src='images/logos/advanseez.png', alt= 'Advanseez')
    li
      a(href= "http://airbrake.io")
        img(src='images/logos/airbrake.png', alt= 'Airbrake')
    li
      a(href= "http://ajency.in")
        img(src='images/logos/ajency.png', alt= 'Ajency.in')
    li
      a(href= "http://appsaloon.be/?utm_source=marionettjs&utm_medium=website&utm_campaign=share-url")
        img(src='images/logos/appsaloon.png', alt= 'AppSaloon')
    li
      a(href= "http://www.canddi.com")
        img(src='images/logos/canddi_logo_print.png', alt= 'CANDDi')
    li
      a(href= "http://carrot.is")
        img(src='images/logos/carrot.png', alt= 'Carrot')
    li
      a(href= "http://crashlytics.com")
        img(src='images/logos/crashlytics.png', alt= 'Crashlytics')
    li
      a(href= "http://crowdtwist.com")
        img(src='images/logos/crowdtwist.png', alt= 'Crowdtwist')
    li
      a(href= "http://cynergy.com")
        img(src='images/logos/cynergy.png', alt= 'cynergy')
    li
      a(href= "http://disqus.com")
        img(src='images/logos/disqus.png', alt= 'Disqus')
    li
      a(href= "http://dlabs.si")
        img(src='images/logos/dlabs.png', alt= 'D·Labs')
    li
      a(href= "http://edpuzzle.com")
        img(src='images/logos/edpuzzle.png', alt= 'EDpuzzle')
    li
      a(href= "http://etsy.com")
        img(src='images/logos/etsy.png', alt= 'Etsy')
    li
      a(href= "https://www.eventbrite.com")
        img(src='images/logos/eventbrite.png', alt= 'Eventbrite')
    li
      a(href= "https://www.found.no")
        img(src='images/logos/found.png', alt= 'Found')
    li
      a(href= "http://gawker.com")
        img(src='images/logos/gawkermedia.png', alt= 'Gawker Media Group')
    li
      a(href= "http://gomoob.com")
        img(src='images/logos/gomoob.png', alt= 'GoMoob')
    li
      a(href= "http://growthrepublic.com")
        img(src='images/logos/growthrepublic.png', alt= 'Growth Republic')
    li
      a(href= "http://www.hail.to")
        img(src='images/logos/hail.png', alt= 'Hail')
    li
      a(href= "http://www.helpscout.com")
        img(src='images/logos/helpscout.png', alt= 'Help Scout')
    li
      a(href= "http://www.hookandloopnyc.com")
        img(src='images/logos/hookandloop.png', alt= 'Hook & Loop')
    li
      a(href= "http://hudl.com")
        img(src='images/logos/hudl.png', alt= 'Hudl')
    li
      a(href= "http://inspectall.com")
        img(src='images/logos/inspectall.png', alt= 'Inspectall')
    li
      a(href= "http://learnvest.com")
        img(src='images/logos/learnvest.png', alt= 'LearnVest')
    li
      a(href= "http://madglory.com")
        img(src='images/logos/madglory.png', alt= 'MadGlory')
    li
      a(href= "https://portal.mimedia.com")
        img(src='images/logos/mimedia.png', alt= 'MiMedia')
    li
      a(href= "http://moz.com")
        img(src='images/logos/moz.png', alt= 'Moz')
    li
      a(href= "http://www.mrbooker.ch")
        img(src='images/logos/mrbooker.png', alt= 'MrBooker')
    li
      a(href= "https://www.myedu.com")
        img(src='images/logos/myedu.png', alt= 'myEdu')
    li
      a(href= "https://www.onehealth.com")
        img(src='images/logos/onehealth.png', alt= 'OneHealth')
    li
      a(href= "https://www.mypebble.co.uk")
        img(src='images/logos/pebble.png', alt= 'Pebble')
    li
      a(href= "http://www.pixlee.com")
        img(src='images/logos/pixlee.png', alt= 'Pixlee')
    li
      a(href= "https://plex.tv")
        img(src='images/logos/plex.png', alt= 'Plex')
    li
      a(href= "http://popcorntime.io")
        img(src='images/logos/popcorntime.png', alt= 'popcorntime')
    li
      a(href= "http://railslove.com")
        img(src='images/logos/railslove.png', alt= 'Railslove')
    li
      a(href= "http://ravenhq.com")
        img(src='images/logos/ravenhq.png', alt= 'Raven HQt')
    li
      a(href= "http://raygun.io")
        img(src='images/logos/raygun-io.png', alt= 'RayGun')
    li
      a(href= "http://rbmaradio.com")
        img(src='images/logos/rbma.png', alt= 'Red Bull Music Academy Radio')
    li
      a(href= "http://www.revvy.com")
        img(src='images/logos/revvy.png', alt= 'Revvy')
    li
      a(href= "http://roastlog.com")
        img(src='images/logos/roastlog.png', alt= 'Roastlog')
    li
      a(href= "http://rollout.io")
        img(src='images/logos/rollout.png', alt= 'Rollout')
    li
      a(href= "https://www.shopetti.com")
        img(src='images/logos/shopetti.gif', alt= 'shopetti', style= 'max-height:100px')
    li
      a(href= "http://www.besnappy.com")
        img(src='images/logos/snappy.png', alt= 'BeSnappy')
    li
      a(href= "http://soom.la")
        img(src='images/logos/soomla.png', alt= 'Soomla')
    li
      a(href= "http://stubhub.com")
        img(src='images/logos/stubhub.gif', alt= 'StubHub')
    li
      a(href= "http://tiptap.com")
        img(src='images/logos/tiptap.png', alt= 'TipTap')
    li
      a(href= "https://www.zweitag.de")
        img(src='images/logos/zweitag.png', alt= 'zweitag')