.support-link-icon {
  position: relative;
  vertical-align: middle;
}
.support-link {
  color: $dark-gray;
  display: inline;
  margin: 0 0 5px 12px;
  transition: all 200ms ease;
  text-decoration: none;
  &:hover,
  &:focus {
    color: darken($dark-gray, 15%);
    text-decoration: underline;
  }
  // subclass of support link
  &__with_icon {
    margin-left: 0;
    color: $gray;
  }
  &__label {
    margin-left: 12px;
    vertical-align: middle;
    color: $dark-gray;
    line-height: 1;
  }
}
.support {
  font-size: 16px;
  line-height: 26px;
  .social-network-col {
    width: $col-1-3;
    float: right;
    @include below($med-breakpoint) {
      width: 100%;
    }
    font-family: $sans;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 26px;
    li {
      margin-bottom: 15px;
    }
    @include below(705px) {
      margin-top: 40px;
    }
  }
  .support_article {
    width: $col-2-3 - 8%;
    float: left;
    @include below($med-breakpoint) {
      width: 100%;
    }
  }
  .btn-wrapper {
    .btn-action {
      display: inline-block;
      float: right;
      margin-top: 10px;
      @include below($sm-breakpoint) {
        float: none;
        width: 85%;
      }
    }
    @include below($sm-breakpoint) {
      width: 100%;
      text-align: center;
    }
  }
}
