extends layouts/layout

block content
  include ./sections/_header

  include ./sections/_social_header
  include ./sections/_about
  include ./sections/_download
  include ./sections/_code_section
  include ./sections/_screen_casts
  include ./sections/_videos
  include ./sections/_books
  include ./sections/_support
  include ./sections/_stickers
  include ./sections/_who_is_using

  include ./sections/_footer
