extends layouts/layout

block content
  .masthead
    img(src="images/marionette_logo.png", alt="Marionette.js – A scalable and composite application architecture for Backbone.js", class= "primary-logo")
    a.btn.download-button(href = "#download")
      | Download
      span XXXXXX
      a.on-github(href="https://github.com/marionettejs/backbone.marionette", target="_blank") Marionette.js on GitHub
    iframe(class="star-button", src="http://ghbtns.com/github-btn.html?user=marionettejs&repo=backbone.marionette&type=watch&count=true&size=large", allowtransparency="true", frameborder="0", scrolling="0", width="143", height="30")
    a.twitter-follow-button(href="https://twitter.com/marionettejs", data-show-count="false", data-size="large") Follow @marionettejs
    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    a(href="https://gitter.im/marionettejs/backbone.marionette", class="gitter-button", target="_blank")
      img(src="images/gitter.png")
  .ribbon
    div
      h1.headline
        | The&nbsp;
        span Backbone&nbsp;
        | Framework!

  include ./sections/_about
  include ./sections/_download
  include ./sections/_code_section
  include ./sections/_screen_casts
  include ./sections/_videos
  include ./sections/_books
  include ./sections/_support
  include ./sections/_stickers
  include ./sections/_who_is_using

  include ./sections/_footer