extends layouts/layout

block vars
  -bodyClass = "home-page";

block content
  include ./sections/_header

  include ./sections/_about
  include ./sections/_downloads
  include ./sections/_inspector
  include ./sections/_code_samples
  include ./sections/_examples
  include ./sections/_videos
  include ./sections/_screencasts
  include ./sections/_books
  include ./sections/_contribute
  //include ./sections/_stickers
  include ./sections/_companies

//- only home page has scroll to top in the footer
block append footer
  a(href="#top", class="top")
    span.hidden-visually Top
