extends layouts/layout

block content
  include ./sections/_header

  include ./sections/_about
  include ./sections/_downloads
  include ./sections/_code_samples
  include ./sections/_screencasts
  include ./sections/_videos
  include ./sections/_books
  include ./sections/_contribute
  include ./sections/_stickers
  include ./sections/_companies

  include ./sections/_footer
