doctype html
html(lang='en', itemscope, itemtype="http://schema.org/WebApplication")
  //- this is a top level block
  //- to host variables defined in locals.json
  //- and modified by per-page extensions
  block vars
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title(itemprop="name") Marionette Inspector
    meta(content="A world-class inspector for exploring your application's views, models, events and more.", name='description', itemprop="description")
    meta(itemprop="operatingSystem", content="Chrome")
    meta(itemprop="applicationCategory", content="Developer Tools")  
    block TwitterCard
      meta(name='twitter:card', content='summary')
      meta(name='twitter:creator', content='@marionettejs')
      meta(name='twitter:description', content="The inspector makes it possible to understand how your App works, without needing to understand how all the code works. This is possible because everything's one click away")
      meta(name='twitter:site', content='@marionettejs')
      meta(name='twitter:title', content='The Marionette Inspector')
    block OpenGraph
      meta(property='og:site_name', content='Marionette.js')
      meta(property='og:image', content='images/marionette_logo.png')
      meta(property='og:url', content='http://marionettejs.com')
      meta(property='og:title', content='The Marionette Inspector')
      meta(property='og:description', content="The inspector makes it possible to understand how your App works, without needing to understand how all the code works. This is possible because everything's one click away")
    //- Place favicon.ico in the root directory: see http://git.io/Ak0N
    link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
    block styles
      link(rel='stylesheet', href='/styles/inspector.css?t=#{Date.now()}')
      link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    // Hotjar
    include ../partials/_hotjar

  body(class=bodyClass)
    div(style="display:none")
      include ../images/svg-sprite.svg
    block content
    block GoogleAnalytics
      include ../partials/_google_analytics
