doctype html
html(lang='en', itemscope, itemtype="http://schema.org/WebApplication")
  //- this is a top level block
  //- to host variables defined in locals.json
  //- and modified by per-page extensions
  block vars
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block meta
      title(itemprop="name") Marionette Inspector
      meta(content="A world-class inspector for exploring your application's views, models, events and more.", name='description', itemprop="description")
      meta(itemprop="operatingSystem", content="Chrome")
      meta(itemprop="applicationCategory", content="Developer Tools")  
    block TwitterCard
      meta(name='twitter:card', content='summary')
      meta(name='twitter:creator', content='@marionettejs')
      meta(name='twitter:description', content="The inspector makes it possible to understand how your App works, without needing to understand how all the code works. This is possible because everything's one click away")
      meta(name='twitter:site', content='@marionettejs')
      meta(name='twitter:title', content='The Marionette Inspector')
    block OpenGraph
      meta(property='og:site_name', content='Marionette.js')
      meta(property='og:image', content='images/marionette_logo.png')
      meta(property='og:url', content='http://marionettejs.com')
      meta(property='og:title', content='The Marionette Inspector')
      meta(property='og:description', content="The inspector makes it possible to understand how your App works, without needing to understand how all the code works. This is possible because everything's one click away")
    //- Place favicon.ico in the root directory: see http://git.io/Ak0N
    link(rel="apple-touch-icon", sizes="57x57", href="/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon", sizes="60x60", href="/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon", sizes="72x72", href="/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon", sizes="76x76", href="/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon", sizes="114x114", href="/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon", sizes="120x120", href="/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon", sizes="144x144", href="/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon", sizes="152x152", href="/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon-180x180.png")
    link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="/android-chrome-192x192.png", sizes="192x192")
    link(rel="icon", type="image/png", href="/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="/manifest.json")
    meta(name="msapplication-TileColor", content="#b91d47")
    meta(name="msapplication-TileImage", content="/mstile-144x144.png")
    meta(name="theme-color", content="#ffffff")
    block styles
      link(rel='stylesheet', href='/styles/inspector.css?t=#{Date.now()}')
      link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    block headerScripts
      // Hotjar
      include ../partials/_hotjar
  body(class=bodyClass)
    div(style="display:none")
      include ../images/svg-sprite.svg
    block content
    block scripts
      include ../partials/_google_analytics
