doctype html
html(lang='en', itemscope, itemtype="http://schema.org/WebPage")
  //- this is a top level block
  //- to host variables defined in locals.json
  //- and modified by per-page extensions
  block vars
  head
    //
      .
                  .---._-------------------------------------+
      ___________/ ._____)                                   |
                    ) __|   HEY HACKER! MARIONETTE IS        |
                      __|   EVEN COOLER WHEN YOU USE THE     |
      ..---------.._____|   INSPECTOR. http://goo.gl/Wo3pju  |
                        +------------------------------------+
      .
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block meta
      title(itemprop="name") Marionette.js – The Backbone Framework
      meta(content='A scalable and composite application architecture.', name='description')
    block TwitterCard
      meta(name='twitter:card', content='summary')
      meta(name='twitter:creator', content='@marionettejs')
      meta(name='twitter:description', content='Marionette simplifies your Backbone application code with robust views and architecture solutions.')
      meta(name='twitter:image', content='http://marionettejs.com/images/marionette.png')
      meta(name='twitter:site', content='@marionettejs')
      meta(name='twitter:title', content='The Backbone Framework')
    block OpenGraph
      meta(property='og:site_name', content='Marionette.js')
      meta(property='og:image', content='http://marionettejs.com/images/marionette.png')
      meta(property='og:url', content='http://marionettejs.com')
      meta(property='og:description', content='Marionette simplifies your Backbone application code with robust views and architecture solutions.')
      meta(property='og:see_also', content='https://github.com/marionettejs/backbone.marionette')
      meta(property='og:title', content='The Backbone Framework')
      meta(property='og:type', content='website')
    //- Place favicon.ico in the root directory: see http://git.io/Ak0N
    link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
    block styles
      link(rel='stylesheet', href='/styles/marionette.css?t=#{Date.now()}')
      link(href='http://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css')
    block headerScripts
      // Hotjar
      include ../partials/_hotjar
      // transifex
      include ../partials/_transifex_config
  //- set this in page .jade file via vars
  body(class=bodyClass)
    div(style="display:none")
      include ../images/svg-sprite.svg
    block content
    block footer
      include ../sections/_footer
    script(src="//cdn.transifex.com/live.js" defer)
    block scripts
      script(src="/js/build.js?t=#{Date.now()}" defer)
    block GoogleAnalytics
      include ../partials/_google_analytics

