include ../common/_global_nav

.masthead
  .wrapper
    .left
      img(src="images/marionette.svg", alt="Marionette.js – A scalable and composite application architecture for Backbone.js", class= "primary-logo")
    .right
      h1 Hand Picked Community Projects
      h2 Here's a list of projects we personally like that you might be able to draw inspiration from.
